/* register.css */
.register-container {
  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background 0.5s ease;
  }
  
  .register-box {
    width: 40%;
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    margin-bottom: 15px;
  }
  
  .profile-photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #ccc;
  }
  
  .register-input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .register-button {
    width: 40%;
    padding: 10px;
    margin-left: 10px;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
  }
  
  .register-button:hover {
    opacity: 0.9;
  }
  